.headerwell
{
	margin-top: 24px;
	position: relative;
	height: 112px;
}

.headerwell p, .headerwell h1, .headerwell button{
   margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.signature
{
	font-size: smaller;
}
article h2
{
	margin-top:0px;
}
article blockquote p, .copyright
{
	font-size:12px;
	font-style:italic;
	color:#555;
}

article blockquote ul, article blockquote ol
{
	padding-left:12px;
}

article blockquote
{
	margin-top:36px;
	margin-bottom:36px;
}

.copyright
{
	margin-bottom:24px;
	display:block;
}

footer
{
	padding-top:12px;
	border-top:1px solid #eee;
}
