#wrapper .input-group .input-group-addon
{
    /*display: table-column;*/
}

body div
{
    margin-top:10px;
}

.container
{
    max-width: 736px;
}
.input-group
{
    display:block;
    margin-bottom:5px;
}
